:host{
  display: flex;
  background-color: var(--section-color);
}

h1
{
    text-align: center;
    margin-bottom: 100px;
}

.container
{
    margin: 100px auto;
}

.partners-list{
    display: flex;
    justify-content: space-around;
}

.partner-card{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
}