h1
{
    text-align: center;
    margin-bottom: 100px;
    font-family: "PT Sans Caption", sans-serif;
}

.partners-list
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container
{
    margin: 100px auto;
}

img
{
    opacity: 0.8;
}

img:hover
{
    opacity: 1;
}
