<div class="section section-black section-about">
    <h1>Школа Ланит-Терком</h1>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <p>Прими участие в одном из студенческих проектов, чтобы получить опыт работы в IT-компании</p>
        </div>
        <div class="col-sm-4">
            <form>
                <div class="form-group row">
                    <input type="text" name="name" class="form-control" id="inputName" placeholder="Полное имя" [(ngModel)]="User.nickname"#name="ngModel"
                    required pattern="(([a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+)||([a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+)||([a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+))" />
                  <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
                    Неверно указано имя
                  </div>
                </div>
                <div class="form-group row">
                    <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="User.login" #email="ngModel" required pattern="[a-zA-Z0-9_\.-]+@[a-zA-Z0-9_]+?\.[a-zA-Z]{2,}" />
                    <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                      Некорректный email
                    </div>
                </div>
                <div class="form-group row">
                    <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Пароль" [(ngModel)]="User.password" #password="ngModel" required pattern="[a-zA-Z0-9]{6,}" />
                    <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
                      Некорректный пароль
                    </div>
                </div>
                <button role="button" type="submit" class="btn btn-warning" *ngIf="((name.valid==true)&&(email.valid==true)&&(password.valid==true))" (click)="register()">Зарегистрироваться</button>
        <button role="button" type="submit" class="btn btm-default" *ngIf="((name.valid==false)||(email.valid==false)||(password.valid==false))">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>