@import url('https://fonts.googleapis.com/css?family=Jura');
.section-about {
    background-size: cover;
    text-align: center;
    align-items: center;
    padding: 5rem 0rem;
}

h1, p{
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 5.5rem;
    margin-bottom: 5rem;
}

p{
    font-size: x-large;
    font-weight: 550;
}
