@import url('https://fonts.googleapis.com/css?family=Jura');
.section-about {
    background-size: cover;
    text-align: center;
    align-items: center;
    padding: 13rem 0rem;
}

h1, p{
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 5.5rem;
    margin-bottom: 5rem;
}

p{
    font-size: x-large;
    font-weight: 550;
}
.alert-danger{
    background: none;
    border: none;
    height: 3rem;
    padding-top: 1rem;
    color: white;
    font-family: 'Jura', sans-serif;
    margin-bottom: 1rem;
}
.form-control{
    background: white;
}
.btm-default{
    color: black;
}