@import url('https://fonts.googleapis.com/css?family=Jura');

h1{
  margin: 2rem auto;
  font-family: 'Jura', sans-serif;
  font-weight: bold;
}

#user-avatar
{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 225px;
    height: 225px;
}

.btn-primary{
  background-color: var(--logo-color);
  border-color: var(--dark-logo-color);
}
.form-inline
{
  margin-bottom: 5px;
  margin-top: 0px;
}

.btn-primary:hover{
  background-color: var(--dark-logo-color);
  border-color: var(--dark-logo-color);
}
.btm-default{
  margin-top: 0rem;
}
.list-group
{
  width: 50%;
}

.comp{
  background-color: white;
  border-radius: 1rem;
}
.block-form
{
  margin-bottom: 2.5rem;
}
.acc-label
{
  position: absolute;
  left: 4.5rem;
}

legend{
   font-family: 'Jura', sans-serif;
    font-weight: bold;
}

textarea{
  resize: none;
  height: 8rem;
}
input.ng-touched.ng-invalid 
{
    background: white;
    border:solid red 2px;
}
input.ng-touched.ng-valid {
    background: white;
    border:solid green 2px;
}
.alert-danger{
    background: none;
    border: none;
    height: 3rem;
    padding-top: 1rem;
    color: black;
    font-family: 'Jura', sans-serif;
    margin-bottom: 1rem;
}
