#main-info
{
    //padding: 1rem 0;
    margin-bottom: 1rem;
    background: whitesmoke;
}

#project-img
{
    margin-bottom: 1rem;
}

#project-name
{
  margin-bottom: 1rem;
}
.blacktag
{
  font-style: italic;
  color: black;
}

.blacktag:hover
{
  text-decoration: underline;
}

.container
{
    background: whitesmoke;
    margin-bottom: 3rem;
}
