<div class="container">
  <div class="row" id="main-info">
    <div class="col-sm-3" id="img-btn">
      <img id="project-img" width="225px" height="225px" src="http://www.slabtoc.ru/images/about-company.jpg" alt="Project image">
      <div *ngIf="authorized">
        <div *ngIf="enrollButtonStatus==0">
          <button type="button" role="button" class="btn btn-large btn-block btn-primary" (click)="enroll()">Подать заявку</button>
        </div>
        <div *ngIf="enrollButtonStatus==2">
          <button type="button" role="button" class="btn btn-large btn-block btn-warning" (click)="unenroll()">Отменить заявку</button>
        </div>
        <div *ngIf="enrollButtonStatus==1">
          <h5>Вы участвуете в проекте</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <h2 id = "project-name">Lorem ipsum dolomet amer<!--{{project.name}}--></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
         Cras dignissim sollicitudin vulputate. Maecenas porttitor massa ante,
          vel viverra tellus pulvinar ut. Maecenas sodales quam ut eros facilisis,
           sed suscipit mi accumsan. Integer sed mi ac tellus auctor consectetur.
            Mauris blandit urna eu velit euismod, et dapibus velit vulputate.
            Aenean sed cursus erat. Vestibulum consequat arcu in turpis sodales,
             eget sollicitudin ante interdum. Integer pellentesque justo id dui
              efficitur volutpat.<!--{{project.description}}--></p>
      <i>Теги:</i> <a class = "blacktag" href="#">lorem ipsum</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" id="materials">
      <app-materials [MaterialsList]=getMaterialsItems()></app-materials>
    </div>
    <div class="col-sm-6">
      <app-tasks [TasksItemList]="this.tasks"></app-tasks>
    </div>
    <div class="col-sm-3">
      <app-proj-news [ProjectNewsList]=getProjectNewsItem()>
        <a href="#" class="btn btn-secondary">Author profile</a>) ></app-proj-news>
    </div>
  </div>
</div>
