#main-info
{
    padding: 1rem 0;
    margin-bottom: 1rem;
    background: whitesmoke;
}

#img-btn
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-img
{
    margin-bottom: 1rem;
}

.container
{
    margin-bottom: 3rem;
}