@import url('https://fonts.googleapis.com/css?family=Jura');
#cover
{
    background: var(--primary-color);
    background-image: url(http://www.hd1080pwallpaper.com/web/wallpapers/mac-waves-wallpaper-1920x1200/2880x1800.jpg);
    background-size: 100% 100%;
    //background-position: center -35%;
    background-repeat: no-repeat;
    height: 94%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption
{
    width: 100%;
}

h1
{
    font-family: 'Jura', sans-serif;
}

h1,p
{
     color: white;
}
.container .reg
{
    margin-top: 50px;
}
p{
    font-size: x-large;
    font-weight: 550;
}
