@import url('https://fonts.googleapis.com/css?family=Jura');

#cover
{
    background: var(--primary-color);
    background-image: url(http://www.hd1080pwallpaper.com/web/wallpapers/mac-waves-wallpaper-1920x1200/2880x1800.jpg);
    //background-size: 100% 100%;
    background-size: cover;
    //background-position: center -35%;
    background-repeat: no-repeat;
    //width: 100%;
    //height: 94%;

}
.about-content
{
  text-align: center;
//  width: 100%;
  //padding: 1rem 1rem;
}

.reg
{
    margin-top: 3rem;
}

input, button
{
  max-width: 70%;
  margin: auto;
}
h1
{
    font-family: 'Jura', sans-serif;
}

h1,p
{
     color: white;
    // margin: auto;
}
p
{
    font-size: x-large;
    font-weight: 550;
}
