@import url('https://fonts.googleapis.com/css?family=Jura');

#cover
{
    background: var(--primary-color);
    background-image: url(http://www.hd1080pwallpaper.com/web/wallpapers/mac-waves-wallpaper-1920x1200/2880x1800.jpg);
    //background-size: 100% 100%;
    background-size: cover;
    //background-position: center -35%;
    background-repeat: no-repeat;
}

.about-content
{
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 12%;
  padding-bottom: 10%;
}

.reg
{
    margin-top: 3rem;
}

input
{
  max-width: 60%;
  margin: auto;
}
button
{
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}
h1
{
    font-family: 'Jura', sans-serif;
}

h1,p
{
     color: white;
    // margin: auto;
}
p
{
    font-size: x-large;
    font-weight: 550;
}
