@import url('https://fonts.googleapis.com/css?family=Jura');
#project-img-status
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

#project-name
{
  margin-bottom: 1rem;
}
.blacktag
{
  font-style: italic;
  color: black;
}

.blacktag:hover
{
  text-decoration: underline;
}

.container
{
    margin-top: 3rem;
    background: white;
    margin-bottom: 3rem;
    padding-right: 1rem;  
}
.card{
  background-color: var(--section-color); 
  padding: 2rem 1rem 2rem 1rem;
  margin: 1rem 0rem;
}
.content{
  font-family: 'Jura', sans-serif;
    font-size: 1.3rem;
}
#MaterialsItem{
  font-family: 'Jura', sans-serif;
}
h2{
    font-family: 'Jura', sans-serif;
    font-size: 3.5rem;
}
.lead{
  font-size: 1.5rem;
}
