    .card
    {
        margin-bottom:1.5em;
        word-wrap: break-word;
    }
    .card-img
    {
        height: 5em;
    }
    .card-text
    {
        margin-top: 5%;
    }
     .card-title
    {
        margin-top: 5%;
    }
    a
    {
        text-decoration: none;
        color: black;
    }