    .card
    {
        margin-bottom:1.5em;
    }
    .card-text, .card-title
    {
        margin: 0%;

    }
     .card-title
    {
        margin: 0%;
    }
    a
    {
        text-decoration: none;
        color: black;
    }