    .card
    {
        margin-top:25px;
        border-color: var(--primary-color);
    }
    .card-text, .card-title
    {
        margin: 0%;

    }
     .card-title
    {
        margin: 0%;
    }
    a
    {
        color: black;
    }