<div class="container">
    <div class="row" id="main-info">
        <div class="col-sm-3" id="img-btn">
            <img id="project-img" width="225px" height="225px" src="" alt="Project image">
            <a href="#" class="btn btn-primary btn-lg">Записаться</a>
        </div>
        <div class="col-sm-9">
            <h3>Описание</h3>
            <hr>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ducimus sint tenetur eveniet laudanti um molestiae
                saepe perspiciatis quo, adipisci corporis aperiam officia tempore obcaecati animi velit soluta laborum quam
                iste! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe placeat, quod debitis totam repellendus
                autem suscipit pariatur. Maxime illo atque, laudantium nulla quia similique voluptates corrupti eius dolores
                vero magnam.</p>
            <a href="#" class="btn btn-secondary">Author profile</a>
            <a href="#" class="btn btn-secondary">Facebook</a>
            <a href="#" class="btn btn-secondary">Sth</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" id="materials">
            <app-materials [MaterialsList]=getMaterialsItems()></app-materials>
        </div>
        <div class="col-sm-6">
            <app-tasks></app-tasks>
        </div>
        <div class="col-sm-3">
            <app-proj-news></app-proj-news>
        </div>
    </div>
</div>