@import url('https://fonts.googleapis.com/css?family=Jura');
.card{
  background-color: var(--section-color); 
  padding: 2rem 1rem 2rem 1rem;
}

.row{ 
    margin: 0rem 0rem 0rem 0rem;
}

.container
{
    margin-top: 3rem;
    background: white;
    margin-bottom: 3rem;
    padding-right: 0rem;  
}
  .status{
    margin-top:1rem;
    text-align: center;
  }

.btn
{
  margin-top: 1rem;
  width:100%;
}

img{
  width:100%;
}

#enrollMessage
{
   width: 100%;
   height: 5rem;
   text-align: left;
}
.modal-header
{
  border-style: none;
}
.modal-title
{
  margin: auto;
}
.modal-footer
{
  border-style: none;
}
h2{
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
}
.project-description{
  font-size: 1.5rem;
}