<div class="section">
	<div class="card card-outline">
		<div class="row" id="main-info">
			<div class="col-sm-3" id="project-img-status">
				<img class="card-img" src="{{ProjectObs.value.Logo}}" alt="Project image">
				<div [ngSwitch]="EnrollButtonStatus" class="status">
					<div *ngSwitchCase="'Enrolling'">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#enrollMessageModal">Подать заявку</button>
					</div>
					<div *ngSwitchCase="'Unenrolling'">
						<button type="button" role="button" class="btn btn-warning" (click)="unenroll()">Отменить заявку</button>
					</div>
					<div *ngSwitchCase="'InProject'">
						<h5 id="status">Вы участвуете в проекте</h5>
					</div>
					<div *ngSwitchDefault>
						<h5>К сожалению в работе сервиса возникла ошибка. Пожалуйста, сообщите в службу поддержки.</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-8 offset-sm-1">
				<h2 id="project-name">{{ProjectObs.value.Name}}</h2>
				<p class="project-description">{{ProjectObs.value.Description}}</p>
				<i>Теги:</i> <a class="blacktag" href="#">lorem ipsum</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-4 col-md-offset-1">
			<app-student-project-tasks [TasksItemList]="TasksObs"></app-student-project-tasks>
		</div>
		<div class="col-sm-12 col-md-4 col-md-offset-2">
			<app-project-users-view [ProjectUsersList]="ProjectUsers"></app-project-users-view>
		</div>
	</div>
</div>


<!--Модальное окно-->
<div id="enrollMessageModal" class="modal fade" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Оставьте сообщение к заявке:</h4>
			</div>
			<div class="modal-body">
				<textarea class="form-control" id="EnrollMessage" [(ngModel)]="EnrollMessage" name="EnrollMessage" autofocus></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="enroll()" data-dismiss="modal">Отправить</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>