h1
{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 3.5rem;
}


.logo_of_technologies{
    max-height: 15rem;
    margin-top: 2rem;
}