<div class="section section-black">
    <h1>В наших проектах мы используем большое количество технологий</h1>
    <div class="row col-sm-11 col-xs-12">
        <ng-template ngFor let-item let-i="index" [ngForOf]="Technologies">
            <div *ngIf="i%3===0" class="clearfix visible-xs-block"></div>
            <div class="col-sm-offset-1 col-sm-2 col-xs-4">
                <a href="{{item.url}}">
                    <img class="logo_of_technologies" src="{{item.image}}">
                </a>
            </div>
        </ng-template>
    </div>
</div>