h1
{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 5.5rem;
}
.name_of_technologies{
    text-align: center;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 2.5rem;
    cursor: pointer;
}