<app-about>
</app-about>
<app-features class="main-highlited"></app-features>
<div class="project-list">
    <div class="main-content">
        <h1>
            Студенческие проекты
        </h1>
        <app-project-list [ProjectList]="projects">
        </app-project-list>
        <br><br><br>
        <button role="button" class="btn btn-outline-primary btn-lg" routerLink="/projects">Показать больше</button>
    </div>
</div>
<app-enrolment class="main-highlited"></app-enrolment>
<app-partners [PartnersList]="partners"></app-partners>
