.projects-content
{
  text-align: center;
  margin: 2rem auto;
}

small
{
  font-weight: 600;
//  font-family: "Roboto", sans-serif;
}

.projects-cover
{
  display: flex;
  background: var(--section-color);
  //background: linear-gradient(45deg, var(--primary-color) 0.25%, var(--dark-logo-color));
}

.feature-title
{
  text-align: center;
  color:var(--primary-color);
  margin-bottom: 0.5rem;
}

.long-line,.short-line
{
  margin: auto;
  height: 10px;
  border-bottom: 3px solid var(--dark-logo-color);
}

.long-line
{
  width: 200px;
}

.short-line
{
  width: 70px;
}
