.projects-content
{
  text-align: center;
  margin: 2rem auto;
}

small
{
  font-weight: 600;
//  font-family: "Roboto", sans-serif;
}

.projects-cover
{
  display: flex;
  background: var(--section-color);
}
