:host{
  display: flex;
  background-color: whitesmoke;
}

h3 {
  margin-bottom: 40px;
}

.btn-danger{
  width: 220px;
  border: 0px;
}

.container
{
  margin-top: 100px;
  margin-bottom: 100px;
}
