:host{
  display: flex;
}

h3 {
  margin-bottom: 40px;
}

.enrolment-info{
    display: flex;
    justify-content: space-around;
}

.btn-danger{
  border: 0px;
  max-width: 15rem;
  margin-top: 2rem;
}

.container
{
  margin-top: 100px;
  margin-bottom: 100px;
}