<!--<h1>Страница проекта учителя</h1>-->
<div class="container">
  <div class="card card-outline">
    <div class="row" id="main-info">
      <div class="col-sm-3" id="project-img-status">
        <img *ngIf='ProjectObs.value.Logo' class="card-img" src="{{ProjectObs.value.Logo}}" alt="Project image">
        <img *ngIf='!ProjectObs.value.Logo' class="card-img" src="./assets/no_image.png" alt="Project image">
        <div *ngIf="EnrollButtonStatus=='InProject'" class="status">
          <h5 id="status">Вы куратор проекта</h5>
        </div>
      </div>
      <div class="col-sm-8 offset-sm-1">
        <h2 id="project-name">{{ProjectObs.value.Name}}</h2>
        <p class="project-description">{{ProjectObs.value.Description}}</p>
        <i>Теги:</i> <a class="blacktag" href="#">lorem ipsum</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <app-teacher-project-tasks [TasksItemList]="TasksObs"></app-teacher-project-tasks>
    </div>
    <div class="col-sm-12 col-md-4 col-md-offset-2">
			<app-project-users-view [ProjectUsersList]="ProjectUsers"></app-project-users-view>
		</div>
  </div>
</div>