<!--<h1>Страница проекта учителя</h1>-->
<div class="container">
  <div class="card card-outline">
    <div class="row" id="main-info">
      <div class="col-sm-3" id="project-img-status">
        <img class="card-img" src="{{projectObs.value.Logo}}" alt="Project image">
        <div *ngIf="enrollButtonStatus=='InProject'" class="status">
          <h5 id="status">Вы куратор проекта</h5>
        </div>
      </div>
      <div class="col-sm-8 offset-sm-1">
        <h2 id="project-name">{{projectObs.value.Name}}</h2>
        <p class="project-description">{{projectObs.value.Description}}</p>
        <i>Теги:</i> <a class="blacktag" href="#">lorem ipsum</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <app-teacher-project-tasks [TasksItemList]="tasksObs"></app-teacher-project-tasks>
    </div>
    <div class="col-sm-6 col-md-6">
      <p class="participants">Участники проекта</p>
    </div>
  </div>
</div>