@import url('https://fonts.googleapis.com/css?family=Jura');

.section-home-student-page
{
   margin: 0.5rem auto;
}


a{
    color:#1796B8;
    cursor: pointer;
}

.active{    
    pointer-events: none;
    cursor: default;
    font-weight: 900;
}

li a
{
    text-decoration: none;
    color:inherit;
}

li a:hover
{
    text-decoration: none;
    color:cadetblue;
    transition: color .3s;
}


.nav-tabs{
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.home-content{
    padding: 2rem 0rem;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration:none;
}

