@import url('https://fonts.googleapis.com/css?family=Jura');

.container
{
   margin: 2.5rem auto;
   min-height: 86%;
}

.home-card-header
{
    background-color: whitesmoke;
    padding: 0.5rem 0;
    margin: 0;
}

.home-list
{
    padding: 0;
    margin: 0;
}

.home-list li
{
    list-style-type: none;
    padding: 2%;
    text-align: left;
}

.home-list .show-full-list
{
    text-align: center;
    color: darkslategrey;
}

a{
    color:#1796B8;
}

.active{    
    pointer-events: none;
    cursor: default;
    font-weight: 900;
}

li a
{
    text-decoration: none;
    color:inherit;
}

li a:hover
{
    text-decoration: none;
    color:cadetblue;
    transition: color .3s;
}

.outlet
{
    padding: 0;
}
.breadcrumb-item-padding
{
    padding: 4rem;
}
.nav-tabs{
    margin-top: 1rem;
    margin-bottom: 0rem;
    height: 4%;
}
.home-content{
    padding: 2rem 0rem;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration:none;
}

a{
    cursor: pointer;
}