<div class='container'>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="nav nav-tabs">
                <li [ngClass]="{active: CurrentSectionOpened==='projects'}"><a (click)="chooseSection('projects')">Проекты</a></li>
                <li [ngClass]="{active: CurrentSectionOpened==='enrollings'}"><a (click)="chooseSection('enrollings')">Заявки</a></li>
                <li><a class="not-active">Задачи</a></li>
            </ul>
        </div>
    </div>
    <div class="row home-content">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>