<div class='container'>
    <nav class="breadcrumb h4 lead">
        <a class="breadcrumb-item active" href="#">Проекты</a>
        <a class="breadcrumb-item breadcrumb-item-padding" href="#">Задачи</a>
    </nav>

    <div class="row home-content">
        <div class="col col-7">
            <router-outlet></router-outlet>
        </div>

        <!-- <div class='col col-5'>
            <div class="card card-outline mb-3 text-center">
                <div class="h4 lead home-card-header">
                    <i class="fa fa-bars" aria-hidden="true"></i> Последние задачи
                </div>
                <ul class="home-list">
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                    <li><a href="#">Temporibus dolorem, est nostrum, amet error blanditiis quia qui facere aut minus.</a></li>
                    <li><a href="#">Excepturi explicabo enim praesentium pariatur, ipsa eligendi tenetur hic maxime.</a></li>
                    <li class="show-full-list"><a href="#">Перейти к списку<i class="fa fa-fw fa-angle-double-down" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="card card-outline mb-3 text-center">
                <div class="h4 lead home-card-header">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i> Последние новости
                </div>
                <ul class="home-list">
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></li>
                    <li><a href="#">Temporibus dolorem, est nostrum, amet error blanditiis quia qui facere aut minus.</a></li>
                    <li><a href="#">Excepturi explicabo enim praesentium pariatur, ipsa eligendi tenetur hic maxime.</a></li>
                    <li class="show-full-list"><a href="#">Перейти к списку<i class="fa fa-fw fa-angle-double-down" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div> -->
    </div>
</div>