.navbar
{
    font-size: 1.25rem;
    font-weight: 500;
    background-color: #EEEEEE;
}

.navbar-brand
{
    margin-left: 10%;
}

.navbar-nav
{
    margin-left: 20%;
    margin-right: 10%;
    width: 100%;
    justify-content: space-around;
}

#sign-in
{
    color: royalblue;
}

#log-out
{
    color: firebrick;
}
