.navbar
{
    padding: 0;
    padding-top: .2rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.navbar-nav
{
    float: right;
    margin-left:40%;
    width: 100%;
    justify-content: space-around;
}


#log-out
{
    color: firebrick;
}

.lanit-nav-link
{
    text-decoration: none;
    color: white;
}

.lanit-nav-link:hover
{
    color: azure;
}

.puma
{
    fill: var(--logo-color);
}

.logo-text
{
    fill: var(--section-color);
}