<!--div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
	  <ul class="nav navbar-nav">
		<li class="active"><a href="#"></a></li>
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
	  </ul>
    </div>
  </div>
</div-->

<!-- Just an image -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.jpg" width="305" height="53" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Новости</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Проекты</a>
      </li>
    </ul>
    <div class="nav-item pull-right">
      <a class="nav-link" href="#">Вход</a>
    </div>
  </div>
</nav>
