.navbar
{
    font-size: 1.25rem;
    font-weight: 500;
}

.navbar-nav
{
    float: right;
    margin-left:50%;
    width: 100%;
    justify-content: space-around;
}


#log-out
{
    color: firebrick;
}

.lanit-nav-link
{
    text-decoration: none;
    color: white;
}

.lanit-nav-link:hover
{
    color: azure;
}