<div class="container">
  <h1 align="center">Настройки</h1>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-3 offset-lg-2" align="center">
      <img id="user-avatar" src="{{CurrentUser.User.Avatar}}" alt="Teacher photo">
          <input type="file" (change)="load($event)" accept=".jpg,.png" size="5">
          <button role="button" class="btn btn-primary" (click)="changeAvatar()" data-toggle="modal" data-target="#created">Подтвердить</button>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-7" align="left">
      <form class="block-form">
        <legend>Личные данные</legend>
        <div class="form-inline">
          <label class="col-sm-2 col-md-3 col-lg-2 col-form-label">Nickname</label>
          <input name="nickname" class="form-control" [(ngModel)]="CurrentUser.User.Nickname" #name="ngModel" required pattern="(([a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+)||([a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+)||([a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+\s+[a-zA-Zа-яёА-ЯЁ\-]+))"
          />
          <div [hidden]="name.valid || name.untouched" class="col-sm-offset-2 alert alert-danger">
            Некорректно указано имя
          </div>
        </div>
        <button *ngIf="(name.valid==true)" type="submit" role="button" (click)="changeNickname()" class="btn btn-primary" data-toggle="modal" data-target="#created"
          data-dismiss="modal">Подтвердить</button>
        <button type="submit" role="button" *ngIf="(name.valid==false)" class="btn btn-primary" data-dismiss="modal">Подтвердить</button>
      </form>
        
      <form class="block-form">
        <legend>Контакты</legend>
        <div class="form-inline">
          <label class="col-sm-2 col-md-3 col-lg-2 col-form-label" for="inputEmail">E-mail
            <sup>*</sup>
          </label>
          <input name="email" class="form-control" id="inputEmail" placeholder="E-mail" [(ngModel)]="CurrentUser.User.Login" #email="ngModel" pattern="[a-zA-Z0-9_\.-]+@[a-zA-Z0-9_]+?\.[a-zA-Z]{2,}"
          />
          <div [hidden]="email.valid || email.untouched" class="col-sm-offset-2 alert alert-danger">
            Некорректный email
          </div>
        </div>
        <div class="form-inline">
          <label class="col-sm-2 form-label" for="inputPhone">Телефон</label>
          <input name="phone" class="form-control" id="inputPhone" placeholder="+79999999999" [(ngModel)]="PhoneNumber" #phone="ngModel" pattern="\++[0-9]{11,}">
          <div [hidden]="phone.valid || phone.untouched" class="col-sm-offset-2 alert alert-danger">
            Некорректный номер телефона
          </div>
        </div>
        <small class="help-inline">*Заполняется для уведомлений</small>
        <br>
        <label class="checkbox">
          <input type="checkbox" value="contactsHidden"> Не показывать контакты на моей странице
        </label>
        <br>
        <button type="submit" role="button" *ngIf="((email.valid==true)&&(phone.valid==true))" class="btn btn-primary" (click)="changeDescription()" data-toggle="modal" data-target="#created">Подтвердить</button>
        <button type="submit" role="button" *ngIf="((email.valid==false)||(phone.valid==false))" class="btn btn-primary">Подтвердить</button>
      </form>

      <form class="block-form">
        <legend>Дополнительная информация</legend>
        <form class="form-inline">
          <div class="row">
            <label class="col-sm-2 form-label" for="inputDescription">О себе</label>
            <textarea name="description" class="form-control" id="inputDescription" maxlength="300" [(ngModel)]="CurrentUser.User.Description"></textarea>
          </div>
        </form>
        <button type="submit" role="button" (click)="changeDescription()" class="btn btn-primary" data-toggle="modal" data-target="#created">Подтвердить</button>
      </form>

      <form class="block-form">
        <legend>Изменение пароля</legend>
        <button class="btn btn-primary" *ngIf="!Clicked" role="button" (click)="ShowHide()">Сменить пароль</button>
        <button class="btn btn-default" *ngIf="Clicked" role="button" (click)="ShowHide()">Скрыть</button>
        <span *ngIf="IsChanged">
          <p class="text-success">Пароль успешно изменен.</p>
        </span>
        <form *ngIf="Clicked && !IsChanged">
          <div class="form-inline">
            <label class="col-sm-2 col-md-3 col-lg-3 col-form-label">Старый пароль</label>
            <input type="password" [(ngModel)]="Passwords.old" name="oldPassword" class="form-control">
          </div>
          <div class="form-inline">
            <label class="col-sm-2 col-md-3 col-lg-3  col-form-label">Новый пароль</label>
            <input type="password" [(ngModel)]="Passwords.new" name="newPassword" class="form-control">
          </div>
          <div class="form-inline">
            <label class="col-sm-2 col-md-3 col-lg-3  col-form-label">Повторите пароль</label>
            <input type="password" [(ngModel)]="NewPasswordAgain" name="newPasswordAgain" class="form-control">
          </div>
          <button type="submit" role="button" (click)="ChangePassword()" class="btn btn-primary">Подтвердить</button>
        </form>
      </form>
    </div>
  </div>
</div>

<div id="created" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-header comp">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Ваши изменения сохранены</h4>
        </div>
    </div>
  </div>