.newscard{
  margin-bottom: 40px;
  background-color: var(--section-color);
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  min-width: 100%;
}
.blacktag{
  color: black;
  font-style: italic;
}
.blacktag:hover{
  text-decoration: underline;
}
a{
  color: var(--dark-accent-color);
}