	
	<div class = "newscard ">
		<p class="newscard-text">{{ NewsItem.LastEdit| date: 'short'}}</p>
		<h4 class="newscard-title">{{ NewsItem.Title}}</h4>
		<p class="newscard-text">{{NewsItem.Description.split(".", 1)}}...</p>
		<p>Теги:
			<!--<span *ngFor="let tag of NewsItem.Tags; let i = index">
			<a href = "#" class = "blacktag">{{tag}}</a>
			<span *ngIf="i!=NewsItem.tags.length-1">,</span>		
 </span>-->
 	<a href = "#" class = "blacktag">{{NewsItem.Tags}}</a>
 </p>
		<a [routerLink]="['/news',  NewsItem.Id]">Читать далее</a>
</div>
