<section id="page_news">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<h1>Новости</h1>
			</div>
			<a *ngIf='CurrentUser && ((CurrentUser.PermissionLevel==1)||(CurrentUser.PermissionLevel==2))'>
				<div class="col-sm-1">
					<button type="button" class="btn btn-news btn-primary" data-toggle="modal" data-target="#enrollNewsModal">+</button>
				</div>
			</a>
		</div>
		<app-news-list></app-news-list>
	</div>
</section>

<!--Модальное окно-->
<div id="enrollNewsModal" class="modal fade" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Название новости</h4>
			</div>
			<div class="modal-body">
				<input class="form-control" id="EnrollNewsName" [(ngModel)]="CreatedNews.Title" name="EnrollNewsName" #EnrollNewsName="ngModel"
				 required pattern='([\S]+[a-zA-Zа-яА-Я0-9-_\s\.\;\:\(\)\+\=\*\№\#\@\"\!\?\,\<\>]+)'>
				<div [hidden]="EnrollNewsName.valid || EnrollNewsName.untouched" class="alert alert-danger">
					Введите название новости
				</div>
			</div>
			<div class="modal-header">
				<h4 class="modal-title">Изображение новости</h4>
			</div>
			<div class="modal-image col-sm-offset-1">
				<img *ngIf='CreatedNews.Image' id="project-avatar" src={{CreatedNews.Image}} alt="News photo">
				<img *ngIf='!CreatedNews.Image' id="project-avatar" src='./assets/no_image.png' alt="News photo">
				<input type="file" (change)="load($event)" accept=".jpg,.png" size="5">
			</div>
			<div class="modal-header">
				<h4 class="modal-title">Описание новости</h4>
			</div>
			<div class="modal-body">
				<textarea class="form-control" id="EnrollNewsDescription" [(ngModel)]="CreatedNews.Description" #EnrollNewsDescription="ngModel"
				 required name="EnrollNewsDescription"></textarea>
				<div [hidden]="EnrollNewsDescription.valid || EnrollNewsDescription.untouched" class="alert alert-danger">
					Введите описание новости
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" *ngIf="((EnrollNewsName.valid==true)&&(EnrollNewsDescription.valid==true))"
				 (click)="makeNews()" data-toggle="modal" data-target="#Created" data-dismiss="modal">Отправить</button>
				<button type="button" class="btn btm-default btn-block" *ngIf="((EnrollNewsName.valid==false)||(EnrollNewsDescription.valid==false))">Отправить</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<div id="Created" class="modal fade" data-backdrop="static">
	<div class="modal-dialog">
			<div class="modal-header comp">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Новость создана</h4>
			</div>
	</div>
</div>