<p>
  slider works!
</p>
<div class="project-list">
  <div class="container">
    <h1>Студенческие проекты</h1>
    <div class="row card-deck">
      <div *ngFor="let project of ProjectList | async | paginate: { id: 'main-projects-pagination',
     itemsPerPage: limit,  totalItems: totalObs, currentPage: p}">
        <app-project-item [ProjectItem]="project"></app-project-item>
      </div>
    </div>

    <div class="has-text-centered">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
      <pagination-controls (pageChange)="getPage($event)" id="main-projects-pagination" previousLabel="Предыдущая" nextLabel="Следующая"></pagination-controls>
    </div>
    <br><br><br>
    <button role="button" class="btn btn-outline-primary btn-lg" routerLink="/projects">Показать больше</button>
  </div>
</div>