@import url('https://fonts.googleapis.com/css?family=Jura');

.section-authorization{
    align-items: center;
}
.btn-secondary{
    color:var(--primary-color);
}

h1
{
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 5.5rem;
}

h3{
    margin: 0rem;
}

.row{
    margin: 0rem 0rem;
}
.form-group{
    margin: 1.5rem 0rem;
}
.btn{
    margin-bottom: 1.5rem;
}
.inscription{
    margin-top: 12rem;
    text-align: center;
}
