@import url('https://fonts.googleapis.com/css?family=Jura');
.container
{
    margin: 10rem auto;
}

h1
{
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 5.5rem;
}

h3{
    margin: 0rem;
}

#cover {
    background: var(--primary-color);
    background-size: cover;
    height: 94%;
    text-align: center;
    display: flex;
    align-items: center;
}
.checkbox{
    color: white;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.row{
    margin: 1.5rem 0rem;
}
.btn{
    margin-bottom: 1.5rem;
}