<div class='container'>

    <nav class="breadcrumb h4 lead">
        <a class="breadcrumb-item active" href="#">Мои проекты</a>
        <a class="breadcrumb-item" href="#">Курсы</a>
        <a class="breadcrumb-item" href="#">Задачи</a>
        <a class="breadcrumb-item" href="#">Что-то ещё</a>
    </nav>

    <div class="row home-content">
        <div class="col col-7">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, mollitia, doloremque. Esse hic incidunt ut consequuntur
            tempore, vero voluptas optio odit, ducimus ad quidem molestiae placeat id nostrum eveniet alias.
        </div>

        <div class='col col-5'>
            <div class="card card-outline mb-3 text-center">
                <div class="card-block">
                    <div class="row">
                        <div class="col">
                            <div class='h3 lead'>Я в <a href="#">рейтинге</a></div>
                            <span class='h2 text-muted'>128428</span></div>
                        <div class="col">
                            <div class='h3 lead'>Мои баллы </div>
                            <span class='h2 text-muted'>0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-outline mb-3">
                <div class="card-block">
                    <a class='h4' href='#'>Последние новости</a>
                    <br>
                    <ul>
                        <li>выфвыфв</li>
                        <li>вфывыфвфы</li>
                        <li>ыфвфы</li>
                        <li>вфывфы</li>
                        <li>выфвыф</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>