<div class="container">
	<h1>Новости</h1>

	<div *ngIf="ReadingNews">
		<h4>{{ ReadingNews.value.Title}}</h4>
		<p>{{ ReadingNews.value.LastEdit| date: 'short'}}</p>
		<div class="row">
			<div class="col-lg-4 col-sm-12">
				<img src="{{ReadingNews.value.Image}}" alt="Waiting for picture...">
			</div>
			<div class="col-lg-8 col-sm-12">
				<p class="text">{{ ReadingNews.value.Description}}</p>
				<!--<p>Теги: <span *ngFor="let tag of ReadingNews.Tags; let i = index">
		  	<a href = "#" class = "blacktag">{{tag}}</a>
		    	<span *ngIf="i!=ReadingNews.tags.length-1">,</span>
					</span>
				</p>-->
				<a href="#" class="blacktag">Теги: {{ReadingNews.value.Tags}}</a>
				<p>Источник:
					<a class="link" href="#">ссылка</a>
				</p>
				<div class="right">
					<a role="button" routerLink="/news">Вернуться к списку новостей</a>
				</div>
			</div>
		</div>
	</div>
</div>


