@import url('https://fonts.googleapis.com/css?family=Jura');

h1{
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    margin-bottom: 40px;
}

.card-img{
    padding: 0rem;
}
button {
    margin-bottom: 20px;
    color: var(--dark-logo-color);
    font-size: 1rem;
}

p.text {
    padding: 2rem 2rem;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: var(--section-color);
}
.blacktag{
  color: black;
  font-style: italic;
}
.blacktag:hover{
  text-decoration: underline;
}
.right{
    margin-bottom: 3rem;
}

