<div class="container">
	<h1>Новости</h1>

	<div *ngIf="readingNews">
		<h4>{{ readingNews.value.Title}}</h4>
		<p>{{ readingNews.value.LastEdit| date: 'short'}}</p>
		<div class="row">
			<div class="col-lg-4 col-sm-12">
				<img src="{{readingNews.value.Image}}" alt="Waiting for picture...">
			</div>
			<div class="col-lg-8 col-sm-12">
				<p class="text">{{ readingNews.value.Description}}</p>
				<!--<p>Теги: <span *ngFor="let tag of readingNews.Tags; let i = index">
		  	<a href = "#" class = "blacktag">{{tag}}</a>
		    	<span *ngIf="i!=readingNews.tags.length-1">,</span>
					</span>
				</p>-->
				<a href="#" class="blacktag">Теги: {{readingNews.value.Tags}}</a>
				<p>Источник: <a class="link" href="#">ссылка</a></p>
				<div class="right">
					<a role="button" routerLink="/news">Вернуться к списку новостей</a>
				</div>
			</div>
		</div>
	</div>
</div>