
img{
    max-height: 100%;
    opacity: 0.8;
    display: block;
     margin-left: auto;
    margin-right: auto;
}


img:hover
{
    opacity: 1;
}

.partner-wrapper{
    width: 100%;
    height: 100%;
   
}