<div *ngFor="let Project of ProjectList | async" class="card card-outline">
  <div class="row">
    <div class="col-sm-4">
      <img class="card-img" src="{{Project.logo}}" alt="Card image cap">
    </div>
    <div class="col-sm-8 project-info">
      <p class="lead">{{Project.name}}</p>
      <p>{{Project.description}}</p>
      <div class="read-more">
        <a routerLink="/project/{{Project.id}}" routerLinkActive="active">
          <p>Подробнее <i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
        </a>
      </div>
    </div>
  </div>
</div>
<!--  <div><a class="nav-link" routerLink="/projects/tasks" routerLinkActive="active">Список задач</a> -->