<div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-offset-2" *ngFor="let project of ProjectList | async | paginate: { id: 'projects-pagination',
     itemsPerPage: Limit,  totalItems: TotalCount | async, currentPage: CurrentPage}">
        <app-project-item [ProjectItem]="project"></app-project-item>
    </div>
</div>

<div class="has-text-centered">
    <div class="spinner" [ngClass]="{ 'hidden': !Loading }"></div>
    <pagination-controls (pageChange)="getPage($event)" id="projects-pagination" previousLabel="Туда" nextLabel="Сюда"></pagination-controls>
</div>