@import url('https://fonts.googleapis.com/css?family=Jura');
.container
{
    text-align: center;
    margin: 2rem auto;
   
}
.section-project-list-page{
     text-align: center;
}



h1 {
  margin: 1rem 0rem;
  font-family: 'Jura', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}