@import url('https://fonts.googleapis.com/css?family=Jura');
.container
{
    text-align: center;
    margin: 2rem auto;
   
}

.project-list
{
  display: flex;
  min-height: 86%;
}

h1 {
  margin-bottom: 50px;
  font-family: 'Jura', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}