@import url('https://fonts.googleapis.com/css?family=Jura');

.section-project-list-page{
     text-align: center;
}



h1 {
  margin: 3rem 0rem;
  font-family: 'Jura', sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
}