@import url('https://fonts.googleapis.com/css?family=Jura');
:host {
    display: flex;
    background-color: white;
}

.text{
    margin-top: 6rem;
}
.container-fluid{
    height: 86%;
}

.feature-img{
    max-width: 100%;
    max-height: 100%;
}
.featurette-heading{
    margin: 1rem 5rem 1rem 0rem;
    font-family: 'Jura', sans-serif;
    font-size: 26px;
}
h2:first-letter {
  font-size: 2.2rem;
  padding: 5px 10px;
  margin-right: 5px; 
  margin-bottom: 2px;
  background: #1CB5DE;
  color: #FAF4F4;
  float: left;
  font-weight: bold;
}
.lead{
    text-align: justify;
    font-size: 16px;
    margin: 0rem;
}

.row{
    margin: 2rem 0rem;
}


