<div class="section">
 <h1>Преимущества участия в студенческих проектах</h1>
  <div class="text">
    <div class="row ">
      <div class="col-sm-5 col-sm-offset-2">
        <h2 class="featurette-heading">Обучение</h2>
        <p class="lead">
          Работа в проекте предваряется вводным курсом лекций, посвящённых специфике выбранного проекта. По ходу проекта проводятся
          семинары и презентации.
        </p>
      </div>
      <div class="col-sm-2 col-sm-offset-1 hidden-xs">
        <img class="feature-img" alt="300x200" src="../assets/images_for_the_main_page/training.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-2 col-xs-12 hidden-xs">
        <img class="feature-img" alt="300x200" src="../assets/images_for_the_main_page/combination_with_study.jpg">
      </div>
      <div class="col-sm-5 col-sm-offset-1 col-xs-12">
        <h2 class="featurette-heading">Совмещение с учёбой</h2>
        <p class="lead">
          Набор в студенческие проекты возобновляется с началом каждого учебного семестра. В каждом проекте участвуют около десяти
          студентов. Проекты длятся от одного до двух семестров.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-2">
        <h2 class="featurette-heading">Результат</h2>
        <p class="lead">
          Участвуя в студенческих проектах, вы получаете:<br>
          <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i> опыт практической работы в IT-компании<br>
          <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i> дополнительные теоретические знания<br>
          <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i> возможность получить приглашение на работу.
        </p>
      </div>
      <div class="col-sm-2 col-sm-offset-1 hidden-xs">
        <img class="feature-img" alt="300x200" src="../assets/images_for_the_main_page/result.jpg">
      </div>
    </div>
  </div>
</div>
