@import url('https://fonts.googleapis.com/css?family=Jura');

#main-info
{
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--section-color);
    margin-top: 3.5rem;   
}

#project-img
{
    margin-bottom: 1rem;
}


#projects-and-courses
{
    margin-top: 3rem;
}


p
{
    text-align: left;

}


h3{
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}