<div class="container">
  <div class="row" id="main-info">
    <div class="col-sm-3" id="photo-and-rating">
      <div id="author-photo">
        <img width="225px" height="225px" src="http://localhost:8080{{authorData.picture}}" alt="Author photo">
      </div>
      <br>
      <p id="current-rating">Рейтинг: {{authorData.rating}}</p>
      <div id="rating-change">
        <a href="#" class="card-link"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
        <a href="#" class="card-link"><i class="fa fa-minus fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-sm-8 offset-sm-1">
      <h3>{{authorData.firstName}} {{authorData.lastName}}</h3>
      <p class="lead">{{authorData.company}}</p>
      <p>{{authorData.description}}</p>
    </div>
  </div>

  <div class="row" id="projects-and-courses">
    <div class="col-sm-6">
      <h4>Курируемые проекты</h4>
      <hr>
      <!-- project-list -->
      <ul id="author-ul">
        <li *ngFor="let project of authorData.projects" id="author-li">
          <!-- project-card -->
          <a href="/project/{{project.Id}}" class="card-link">
            <div class="row" id="project-course-card">
              <div class="col-sm-3">
                <img style="width:100%; height:auto;" src="{{project.Picture}}" alt="Project image">
              </div>
              <div class="col-sm-9">
                <h5 align="center">{{project.Name}}</h5>
                <p class="lead">{{project.Description}}</p>
              </div>
            </div>
          </a>
          <!-- end project-card -->
        </li>
      </ul>
      <!-- end project-list -->
    </div>
    <div class="col-sm-6">
      <h4>Читаемые курсы</h4>
      <hr>
      <!-- course-list -->
      <ul id="author-ul">
        <li *ngFor="let course of authorData.courses" id="author-li">
          <!-- course-card -->
          <a href="/course/{{course.Id}}" class="card-link">
            <div class="row" id="project-course-card">
              <div class="col-sm-3">
                <img style="width:100%; height:auto;" src="{{course.Picture}}" alt="Course image">
              </div>
              <div class="col-sm-9">
                <h5 align="center">{{course.Name}}</h5>
                <p class="lead">{{course.Description}}</p>
              </div>
            </div>
          </a>
          <!-- end course-card -->
        </li>
      </ul>
      <!-- end course-list -->
    </div>
  </div>
</div>