<div class="section">
  <div class="row">
    <div class="col-md-offset-1">
      <h3>Ваши заявки</h3>
    </div>
  </div>
  <div *ngFor="let Enroll of ProjectEnrollList | async">
    <div class="card card-outline">
      <div class="row">
        <div class="col-sm-2 hidden-xs col-sm-offset-1">
          <img *ngIf='Enroll.Project.Logo' class="card-img" src="{{Enroll.Project.Logo}}" alt="Добавление картинки в процессе">
          <img *ngIf='!Enroll.Project.Logo' class="card-img" src="./assets/no_image.png" alt="Добавление картинки в процессе">
        </div>
        <div class="col-md-8 col-sm-8 col-md-offset-2 project-info">
          <p class="clip lead">{{Enroll.Project.Name}}</p>
          <p class="cut message">{{Enroll.Message}}</p>
          <div class="read-more">
            <a routerLink="/project/{{Enroll.Project.Id}}" routerLinkActive="active">
              <p>Подробнее <i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>