.card
{
    margin-bottom: 3rem;
    word-wrap: break-word;
}

.row{
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
}
.card-img
{
    max-width: 16rem;
    max-height: 20rem;
}
.project-info
{
    padding: 1rem 2rem 0rem 2rem;
    margin: 0rem 0rem;
    background-color: var(--section-color);
}
.read-more
{
    margin: 1rem 0rem 0rem 0rem;
    width: 92%;
    bottom: 0;
    text-align: right;
    color: var(--dark-logo-color);
}
h3{
    margin: 0rem 0rem 2rem 0rem;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}
.lead{
    font-family: 'Jura', sans-serif;
     
}
.message{
    font-size: 14px;
}