.card
{
    margin-bottom: 3rem;
    word-wrap: break-word;
    padding: 0rem;
}

.row{
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
}
.card-img
{
    max-width: 16rem;
    max-height: 20rem;
    margin: 0rem;
}
.project-info
{
    padding: 1rem 2rem 0rem 2rem;
    margin: 0rem 0rem;
    background-color: var(--section-color);
}
.read-more
{
    margin: 1rem 0rem 0rem 0rem;
    width: 92%;
    bottom: 0;
    text-align: right;
    color: var(--dark-logo-color);
}
h3{
    margin: 0rem 0rem 2rem 0rem;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
}
.lead{
    font-family: 'Jura', sans-serif;
    font-size: 2rem;
}
.message{
    font-size: 14px;
}
img {
    
    -webkit-box-shadow: 7px 12px 15px 0px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 7px 12px 15px 0px rgba(0, 0, 0, 0.62);
    box-shadow: 7px 12px 15px 0px rgba(0, 0, 0, 0.62);
}
.clip{
    overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2; /* number of lines to show */
     line-height: 2rem;        /* fallback */
     max-height: 4.1rem;       /* fallback */
   }
.cut{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1.4rem;        /* fallback */
    max-height: 4.2rem;       /* fallback */
}