#main-info
{
    padding: 1rem;
    margin-bottom: 1rem;
    background: whitesmoke;
}

#photo-and-rating
{
    display: flex;
    flex-direction: column;
}

#project-img
{
    margin-bottom: 1rem;
}

.container
{
    margin-bottom: 3rem;
}

#rating-change
{
    display: flex;
    justify-content: space-around;
}

#current-rating
{
    display: flex;
    justify-content: center;
}

#author-photo
{
    display: flex;
    justify-content: center;
}

#projects-and-courses
{
    margin-top: 3rem;
}

#project-course-card
{
    min-height: 11rem;
    background: whitesmoke;
    width: 100%;
    padding: 0.5rem 0.5rem;
    margin: 1rem auto;
    text-align: right;
    border: 1px solid gainsboro;
}

p
{
    text-align: left;
}

#author-ul
{
    padding: 0;
}

#author-li
{
    list-style-type: none;
}

.card-link
{
    color:inherit;
    text-decoration:none;
}