<div class="container">
	<h1>Новости</h1>

	<div *ngIf="readingNews">
		<h4>{{ readingNews.title}}</h4>
		<p>{{ readingNews.edited| date: 'short'}}</p>
		<div class="row">
			<div class="col-lg-4 col-sm-12">
				<img src="{{readingNews.image}}" alt="Waiting for picture...">
			</div>
			<div class="col-lg-8 col-sm-12">
				<p class="text">{{ readingNews.description}}</p>
				<p>Теги: <span *ngFor="let tag of readingNews.tags; let i = index">
		  	<a href = "#" class = "blacktag">{{tag}}</a>
		    	<span *ngIf="i!=readingNews.tags.length-1">,</span>
					</span>
				</p>

				<p>Источник: <a class="link" href="#">ссылка</a></p>
				<div align="right">
					<button role="button" class="page-link" routerLink="/news">Назад</button>
				</div>
			</div>
		</div>
	</div>