<h3>Ваши заявки</h3>
<div *ngFor="let Enroll of ProjectEnrollList | async">
  <div class="card card-outline">
    <div class="row">
      <div class="col-sm-2 ">
        <img class="card-img" src="http://moziru.com/images/smiley-clipart-square-20.jpg" alt="Card image cap">
      </div>
      <div class="col-sm-9 col-sm-offset-1 project-info">
        <p class="lead">{{Enroll.Project.Name}}</p>
        <p>{{Enroll.Message}}</p>
        <div class="read-more">
          <a routerLink="/project/{{Enroll.Project.Id}}" routerLinkActive="active">
            <p>Подробнее <i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  <div><a class="nav-link" routerLink="/projects/tasks" routerLinkActive="active">Список задач</a> -->
<h3>Ваши проекты</h3>
<div *ngFor="let Project of ProjectList | async" class="card card-outline">
  <div class="row">
    <div class="col-sm-3">
      <img class="card-img" src="https://s-media-cache-ak0.pinimg.com/originals/0c/c0/03/0cc00365a4a9a7bdb0c3badd90569b59.png" alt="Card image cap">
    </div>
    <div class="col-sm-9 project-info">
      <p class="lead">{{Project.Name}}</p>
      <p>{{Project.Description}}</p>
      <div class="read-more">
        <a routerLink="/project/{{Project.Id}}" routerLinkActive="active">
          <p>Подробнее <i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
        </a>
      </div>
    </div>
  </div>
</div>