<div class="row">
  <div class="col-sm-offset-1"> 
    <h3>Ваши проекты</h3>
  </div>
</div>
    <div *ngFor="let Project of ProjectList | async" class="card card-outline">
      <div class="row">
        <div class="col-sm-2 hidden-xs col-sm-offset-1">
          <img class="card-img" src="{{Project.Logo}}"
            alt="Card image cap">
        </div>
        <div class="col-sm-7 col-sm-offset-1 col-md-offset-0 col-md-8 project-info">
          <p class="lead">{{Project.Name}}</p>
          <p>{{Project.Description}}</p>
          <div class="read-more">
            <a routerLink="/project/{{Project.Id}}" routerLinkActive="active">
              <p>Подробнее <i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  