.card
{
    margin-bottom:1rem;
    word-wrap: break-word;
}

.row{
    width: 100%;
    margin: 0rem 0rem 0rem 0rem
}
.card-img
{
    max-width: 17rem;
    max-height: 17rem;
}

a
{
   text-decoration: none;
   color:inherit;
}

a:hover
{
   text-decoration: none;
   color:cadetblue;
   transition: color .3s;
}

.project-info
{
    padding: 1rem 2rem 0rem 2rem;
    background-color: var(--section-color);
}

.read-more
{
    margin: 0rem;
    width: 90%;
    position: absolute;
    bottom: 0;
    text-align: right;
    color: var(--dark-accent-color);
}

h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
}