div
{
    background: whitesmoke;
    width: 100%;
    padding: 0.5rem 0.5rem;
    margin: 1rem auto;
    text-align: right;
    border-radius: 0.5rem;
    border: 2px solid navajowhite;
}

p
{
    text-align: left;
}

li
{
    list-style-type: none;
}