.navbar
{
    padding: 0;
    padding-top: .2rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    border: 0;
}

.nav{
    margin-left: 10rem;
}

#log-out
{
    color: firebrick;
}

.lanit-nav-link
{
    text-decoration: none;
    color: white;
}

.lanit-nav-link:hover
{
    color: azure;
}

.puma
{
    fill: var(--logo-color);
}

.logo-text
{
    fill: var(--section-color);
}

.nav >li >a {
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
}
