.navbar
{
    padding: 0;
    padding-top: 0.2rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.navbar-nav
{
    float: right;
    padding-bottom: 0.2rem;
    margin-left: 40%;
    width: 100%;
    justify-content: space-around;
}

li.nav-item
{
  text-align: center;
}
button.navbar-toggler
{
    margin-top: 0.5rem;
    position: fixed;
}

.fa-bars
{
  color: white;
}

#log-out
{
    color: firebrick;
}

.lanit-nav-link
{
    text-decoration: none;
    color: white;
}

.lanit-nav-link:hover
{
    color: azure;
}

.puma
{
    fill: var(--logo-color);
}

.logo-text
{
    fill: var(--section-color);
}
