.navbar
{
    padding: 0;
    padding-top: .2rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0;
}


.nav{
    margin-left: 10rem;
    padding-top: 1rem;
}

#log-out
{
    color: firebrick;
}

.lanit-nav-link
{
    text-decoration: none;
    color: white;
}

.lanit-nav-link:hover
{
    color: azure;
}

.puma
{
    fill: var(--logo-color);
}

.logo-text
{
    fill: var(--section-color);
}