.navbar
{
    margin: 0rem;
    border-radius: 0rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--primary-color);
}

#log-out
{
    color: firebrick;
}

.lanit-nav-link
{
    text-decoration: none;
    color: white;
    padding-top: 2rem;
}

.lanit-nav-link:hover
{
    color: azure;
}

.puma
{
    fill: var(--logo-color);
}

.logo-text
{
    fill: var(--section-color);
}