:host {
    background: #222 url('/assets/main-cover-top.jpg') center center no-repeat;
    background-size: cover;
    color: black;
    height: 100%;
    display: flex;
}

#caption {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

h1 {
  font-family: "PT Sans Caption", sans-serif;
}

p {
   font-family: 'Roboto', sans-serif;
}
