<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="col-sm-10 offset-sm-1">
                <h1 class="display-3">Школа Ланит-Терком</h1>
                <p>Прими участие в одном из студенческих проектов, чтобы получить опыт работы в IT-компании</p>
                <form>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-6">
                            <input type="email" class="form-control form-control-lg" id="emailInput" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-6">
                            <input type="username" class="form-control form-control-lg" id="usernameInput" placeholder="Имя">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-3 col-sm-6">
                            <input type="password" class="form-control form-control-lg" id="passwordInput" placeholder="Пароль">
                        </div>
                    </div>
                    <button role="button" class="btn btn-lg btn-warning" role="button">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</section>