@import url('https://fonts.googleapis.com/css?family=Jura');
#cover {
    background: var(--primary-color);
    background-size: cover;
    height: 93%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

h1, p{
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 5.5rem;
}
.container .reg
{
    margin-top: 50px;
}
p{
    font-size: x-large;
    font-weight: 550;
}
