<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="col-sm-10 offset-sm-1">
                <h1 class="display-3">Школа Ланит-Терком</h1>
                <div class="container reg">
                <div class="row ">
                    <div class="col-md-5">
                        <p>Прими участие в одном из студенческих проектов, чтобы получить опыт работы в IT-компании</p>
                    </div>
                    <div class="col-md-5 offset-md-2">
                        
                        <form>
                            <div class="form-group row"> 
                                    <input type="email" class="form-control form-control-lg" id="emailInput" placeholder="Email">
                            </div>
                            <div class="form-group row"> 
                                    <input type="username" class="form-control form-control-lg" id="usernameInput" placeholder="Имя">
                            </div>
                            <div class="form-group row"> 
                                    <input type="password" class="form-control form-control-lg" id="passwordInput" placeholder="Пароль">
                            </div>
                            <button role="button" class="btn btn-lg btn-warning" role="button">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>