<section id="cover">
  <div class="container">
    <div class="inscription">
      <h1>Введите код подтверждения</h1>
    </div>
    <form class="form">
      <div class="col-sm-6 col-sm-offset-3">
        <input type="text" name="name" class="form-control" id="inputName" placeholder="Код" [(ngModel)]="validationCode">
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-5 col-sm-2">
          <h3>{{message}}</h3>
          <button role="button" type="submit" class="btn btn-primary" (click)="validate()">Подтвердить</button>
        </div>
      </div>
    </form>
  </div>
</section>