<div class="row">
  <div class="col-sm-offset-1">
    <h3>Заявки на ваши проекты</h3>
  </div>
</div>
<div *ngFor="let Enroll of EnrollList | async" class="card card-outline">
  <div class="row">
    <div class="card col-sm-2 hidden-xs col-sm-offset-1">
      <img class="card-img" src="{{Enroll.Project.Logo}}"
        alt="Card image cap">
    </div>
    <div class="col-sm-8 project-info">
      <p class="lead"> <a class="Name" routerLink="/user/{{Enroll.User.Id}}">{{Enroll.User.Nickname}}</a> хочет записаться на {{Enroll.Project.Name}}</p>
      <p>Сообщение: "{{Enroll.Message}}"</p>
      <div class="read-more">
        <button type="button" class="btn btn-success" (click)="accept(Enroll)">Принять</button>
      </div>
    </div>
  </div>
</div>