<div class="row news-list">
    <div class="col-12" *ngFor="let news of NewsList | async | paginate: { id: 'news-pagination', itemsPerPage: Limit, 
     totalItems: TotalNumberOfNews | async, currentPage: PageNumber}">
         <app-news-item [NewsItem]="news" ></app-news-item>
    </div>
</div>

<div class="has-text-centered">
    <div class="spinner" [ngClass]="{ 'hidden': !Loading }"></div>
    <pagination-controls (pageChange)="getPage($event,true)" id="news-pagination" 
    previousLabel="Туда" nextLabel="Сюда"></pagination-controls> 
</div>

