<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Создание проекта</h3>
      <form>
        <div class="row">
          <div class="col-6">
            <img id="project-avatar" src={{createdProject.logo}} alt="Project photo">
            <br>
            <button role="button" (click)="addLogo()" name="projectLogo" class="btn btn-secondary btn-submit">Изменить...</button>
          </div>
          <div class="col-5" align="left">
            <form class="block-form">
              <div class="form-line">
                <label class="col-form-label">Название проекта:</label>
                <input class="form-control" placeholder="" [(ngModel)]="createdProject.name" name="projectName" required>
              </div>
              <div class="form-line">
                <label class="col-form-label" for="inputDescription">Описание проекта:</label>
                <textarea class="form-control" id="inputProjDescription" [(ngModel)]="createdProject.description" name="projDescription"
                  required></textarea>
              </div>
              <button role="button" class="btn btn-primary btn-submit" type="submit" (click)="makeProject()">Создать</button>
            </form>
          </div>
        </div>
      </form>
    </div>
    <div class="col-6">
      <h3>Удаление проекта</h3>
    </div>
  </div>
</div>