<div class="row">
  <div class="col-md-offset-1" *ngIf="(ProjectList | async).length!==0">
    <h3>Ваши проекты</h3>
  </div>
  <div class="col-sm-offset-1" *ngIf="(ProjectList | async).length===0">
    <h3>Кажется, вы еще не руководите ни одним проектом :(</h3>
  </div>
  <div *ngFor="let Project of ProjectList | async" class="card card-outline">
    <div class="row">
      <div class="card col-sm-2 hidden-xs col-sm-offset-1">
        <img *ngIf='Project.Logo' class="card-img" src="{{Project.Logo}}">
        <img *ngIf='!Project.Logo' class="card-img" src="./assets/no_image.png">
      </div>
      <div class="col-sm-8 project-info">
        <p class="lead">{{Project.Name}}</p>
        <p>{{Project.Description}}</p>
        <div class="read-more">
          <a routerLink="/project/{{Project.Id}}" routerLinkActive="active">
            <p>Подробнее
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-4">
      <button type="button" class="btn btn-project btn-primary" data-toggle="modal" data-target="#enrollProjectModal">+</button>
    </div>
  </div>
  <!--  <div><a class="nav-link" routerLink="/projects/tasks" routerLinkActive="active">Список задач</a> -->

  <!--Модальное окно-->
  <div id="enrollProjectModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Название проекта</h4>
        </div>
        <div class="modal-body">
          <input class="form-control" placeholder="" [(ngModel)]="CreatedProject.Name" name="projectName" required>
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Изображение проекта</h4>
        </div>
        <div class="modal-image col-sm-offset-1">
          <img *ngIf='CreatedProject.Logo' id="project-avatar" src={{CreatedProject.Logo}} alt="Project photo">
          <img *ngIf='!CreatedProject.Logo' id="project-avatar" src='./assets/no_image.png' alt="Project photo">
          <input type="file" (change)="load($event)" accept=".jpg,.png" size="5">
        </div>
        <div class="modal-header">
          <h4 class="modal-title">Описание проекта</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" id="inputProjDescription" [(ngModel)]="CreatedProject.Description" name="projDescription"
            required></textarea>
        </div>
        <div class="modal-footer">
          <button role="button" class="btn btn-primary btn-submit" type="submit" (click)="makeProject()" data-dismiss="modal">Создать</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
 