<h1 align="center">Студенческие проекты</h1>
<div class="swiper-cover">
  <swiper class="swiper" [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let project of ProjectList | async">
        <a routerLink="/project/{{project.Id}}">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <img src="{{project.Logo}}" alt="Project logo" class="img-responsive">
              </div>
              <div class="swiper-text col-sm-6">
                <h3 class="swiper-project-name">
                  <strong>{{project.Name}}</strong>
                </h3>
                <p class="swiper-project-name">{{project.Description}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>