<h1 align="center">Студенческие проекты</h1>
<div class="swiper-cover">
  <swiper class="swiper" [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let project of ProjectList | async">
        <a routerLink="/project/{{project.Id}}">
        <img src="{{project.Logo}}" alt="Project logo">
          <div class="swiper-text">            
              <h3 class="swiper-project-name">{{project.Name}}</h3>
              <p class="swiper-project-name">{{project.Description}}</p>
          </div>
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>