@import url('https://fonts.googleapis.com/css?family=Jura');


h1
{
    text-align: center;
    margin-bottom: 3rem;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 5.5rem;
}
#cover {
    background: var(--primary-color);
    background-size: cover;
    height: 93%;
    align-items: center;
}
.inscription{
    margin-top: 12rem;
    text-align: center;
}
.form-check{
    color: white;
}