@import url('https://fonts.googleapis.com/css?family=Jura');
.card
{
  height: 40rem;
  width: 25rem;
  text-align: left;
  border: 0px;
  margin: 0rem auto;
}


.card-block{
  background-color: var(--section-color);
  height: 15rem;
  padding: 1rem;
}

.card-block-xs{
  background-color: var(--section-color);
  min-height: 11rem;
}
.card-img-top{
  height: 25rem;
  width: 25rem;
}

.card-xs{
  margin-bottom: 1rem;
}

.card-img-top-xs{
  max-height: 10rem;
  margin-top: 1rem;
  padding: auto auto;
}

.card-text-xs{
  margin-top: 1rem;
  background-color: var(--section-color);
}

a{
    text-decoration: none;
    color: black;
}
.card-title
{
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.p{
  font-size: 1.1rem;
  line-height: 0.3rem;
}
.clip{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 1.7rem;        /* fallback */
   max-height: 3.4rem;       /* fallback */
 }
 .cut{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-height: 1.4rem;        /* fallback */
  max-height: 7rem;       /* fallback */
 }