@import url('https://fonts.googleapis.com/css?family=Jura');
.card
{
  height: 40rem;
  width: 25rem;
  text-align: left;
  border: 0px;
  margin: 0rem auto;
}


.card-block{
  background-color: var(--section-color);
  height: 15rem;
  padding: 1rem;
}

.card-block-xs{
  background-color: var(--section-color);
  min-height: 11rem;
}
.card-img-top{
  height: 25rem;
  width: 25rem;
}

.card-xs{
  margin-bottom: 1rem;
}

.card-img-top-xs{
  max-height: 10rem;
  margin-top: 1rem;
  padding: auto auto;
}

.card-text-xs{
  margin-top: 1rem;
  background-color: var(--section-color);
}

a{
    text-decoration: none;
    color: black;
}
.card-title
{
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
}
