<div class="container">
  <div class="row" id="main-info">
    <div class="col-lg-3 col-md-12" id="project-img-status">
      <img width="225px" height="225px" src="{{projectObs.value.Logo}}" alt="Project image">
    </div>
    
    <div class="col-lg-9 col-md-offset-12">
      <h2 id="project-name">{{projectObs.value.Name}}</h2>
      <p class="lead">{{projectObs.value.Description}}</p>
      <i>Теги:</i> <a class="blacktag" href="#">lorem ipsum</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3" id="materials">
      <app-materials [MaterialsList]=getMaterialsItems()></app-materials>
    </div>
    <div class="col-lg-6 col-md-offset-12">
      <app-tasks [TasksItemList]="this.tasks"></app-tasks>
    </div>
    <div class="col-lg-3 col-md-offset-12">
      <app-proj-news [ProjectNewsList]=getProjectNewsItem()>
        <a href="#" class="btn btn-secondary">Author profile</a>) ></app-proj-news>
    </div>
  </div>
</div>
