#main-info
{
    padding: 1rem;
    background: whitesmoke;
}

#project-img-status
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

#project-name
{
  margin-bottom: 1rem;
}
.blacktag
{
  font-style: italic;
  color: black;
}

.blacktag:hover
{
  text-decoration: underline;
}

.container
{
    background: whitesmoke;
    margin-bottom: 3rem;
}

