<div class="container">
  <div class="row" id="main-info">
    <div class="col-sm-3" id="photo-and-rating">
      <div id="author-photo">
        <img width="225px" height="225px" src="{{currentUser.value.User.Avatar}}" alt="Student photo">
      </div>
    </div>
    <div class="col-sm-8 offset-sm-1">
      <h3>{{currentUser.value.User.Nickname }}</h3>
      <p>{{currentUser.value.User.Description}}</p>
    </div>
  </div>

  <div class="row" id="projects-and-courses">
    <div class="col-sm-6">
      <h4>Участие в проектах</h4>
      <hr>
      <h4>TODO backend</h4>
    </div>
    <div class="col-sm-6">
      <h4>Проходятся курсы</h4>
      <hr>
      <h4>TODO backend</h4>
    </div>
  </div>
</div>
