
@import url('https://fonts.googleapis.com/css?family=Jura');
h1
{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 5.5rem;
}

.shift{
    min-height: 15rem;
}