<section id="page_news">
	<div class="container">
	<div class="row header_news">
		<div class="col col-2">
			<h1>Новости</h1>
		</div>

		<div class="col col-10 but_row" align="right">
			<button role="button" class="btn btn-primary active" >Последние</button>
			<div class="but_div"></div>
			<button role="button" class="btn btn-primary" >Анонсы</button>
			<div class="but_div"></div>
			<button role="button" class="btn btn-primary" >Защита</button>
			<div class="but_div"></div>
			<button role="button" class="btn btn-primary" >Еще что-то</button>
			<div class="but_div"></div>
			<button role="button" class="btn btn-primary" >Другие</button>
		</div>
	</div>

	<div class="row news-list">
		<div class="col">
			<app-main-news-item></app-main-news-item>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<nav>
			  <ul class="pagination justify-content-end">
			    <li class="page-item disabled">
			      <span class="page-link" tabindex="-1">Предыдущая</span>
			    </li>
			    <li class="page-item active">
			      <span class="page-link">
			        1
			        <span class="sr-only">(current)</span>
			      </span>
			    </li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			    <li class="page-item">
			      <a class="page-link" href="#">Следующая</a>
			    </li>
			  </ul>
			</nav>
		</div>
	</div>	

	</div>
</section>
