div
{
    margin: 1rem 0.5rem;
}

p{
  margin-bottom: 0.15rem;
  margin-right: 1rem;
}

a
{
   color: black;
   word-break: break-all;
   margin-right: 1rem;
}

li
{
    list-style-type: none;
}
