:host{
  background: whitesmoke;
  display: flex;
}

h1 {
  margin-bottom: 70pt;
}

.container
{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn-primary{
  width: 15em;
  height: 3em;
  border: 0px;
}