:host {
    display: flex;
    background-color: white;
}

.feature-content{
    margin-top: 100px;
    margin-bottom: 100px;
}

.row
{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.feature-img{
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
}
