
  <div class="feature-content">
  <div class="row ">
      <div class="col-lg-6 col-sm-12 align-self-center">
        <h2 class="featurette-heading">Обучение</h2>
        <p class="lead">
          Работа в проекте предваряется вводным курсом лекций, посвящённых специфике выбранного проекта. По ходу проекта проводятся семинары и презентации.
        </p>
      </div>
      <div class="feature-img col-lg-4 col-sm-12 offset-lg-2">
        <img alt="300x200" src="https://techmadeplain.com/img/2014/300x200.png">
      </div>
  </div>
  <div class="row flex-lg-row flex-column-reverse">
      <div class="feature-img col-lg-4 col-sm-12">
        <img alt="300x200" src="https://techmadeplain.com/img/2014/300x200.png">
      </div>
      <div class="col-lg-6 offset-lg-2 col-sm-12 align-self-center">
        <h2 class="featurette-heading">Совмещение с учёбой</h2>
        <p class="lead">
          Набор в студенческие проекты возобновляется с началом каждого учебного семестра. В каждом проекте участвуют около десяти студентов. Проекты длятся от одного до двух семестров.
        </p>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-6 col-sm-12 align-self-center">
        <h2 class="featurette-heading">Результат</h2>
        <p class="lead">
          Участвуя в студенческих проектах, вы получаете:<br>
          <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i> опыт практической работы в IT-компании<br>
          <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i> дополнительные теоретические знания<br>
          <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i> возможность получить приглашение на работу.
        </p>
      </div>
      <div class="feature-img col-lg-4 col-sm-12 offset-lg-2">
        <img alt="300x200" src="https://techmadeplain.com/img/2014/300x200.png">
      </div>
  </div>
  </div>
