:host
{
    display: flex;
    background-color: white;
}
.features
{
  margin-top: 3rem;
}
.feature-content
{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 2%;
    padding-right: 2%;
}



.feature-img
{
    margin: 1rem auto;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
}
.row
{
  margin-top: 2rem;
}
