<!--<div *ngFor="let User of UserList | async" class="card card-outline">
  <div class="row">
    <div class="col-sm-4">
      <img class="card-img" src="{{User.logo}}" alt="Card image cap">
    </div>
    <div class="col-sm-8 project-info">
      <p class="lead">{{User.name}}</p>
      <p>{{User.description}}</p>
      <div class="read-more">
        <a routerLink="/user/{{User.id}}" routerLinkActive="active">
          <p>Подробнее <i class="fa fa-angle-double-right" aria-hidden="true"></i></p>
        </a>
      </div>
    </div>
  </div>
</div>-->
<h1> Все пользователи</h1>
