<div class="navbar-fixed-bottom footer">
      <div class="row">
          <div class="col-5">
            <h4>О нас</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
               Aenean ultricies risus sit amet fermentum hendrerit. Vestibulum
                quis facilisis erat. Nulla mi dui, convallis id placerat id,
               placerat vitae massa. Proin vestibulum urna ac nisl consequat dictum.</p>
          </div>
          <div class="col-4">
              <h4>Контакты</h4>
              <address>
                Lorem ipsum dolor sit amet,<br>
                consectetur adipiscing elit<br><br>
                <i class="fa fa-phone" aria-hidden="true"></i>111-111-111<br>
                <i class="fa fa-envelope" aria-hidden="true"></i><a href="#">hello@yourdomain.com</a>
             </address>
          </div>

          <div class="col-3">
            <h4>Ссылки</h4>
            <ul>
              <li><a href="#">Обучение</a></li>
              <li><a href="#">О руководителях</a></li>
              <li><a href="#">Летняя школа</a></li>
              <li><a href="#">Курсы</a></li>
            </ul>
          </div>
      </div>
</div>
