<div class="container">
  <h1>Регистрация</h1>
  <form class="offset-sm-3">
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">Полное имя</label>
      <div class="col-sm-6">
        <input type="text" name="name" class="form-control" id="inputName" placeholder="Полное имя" [(ngModel)]="user.nickname">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-6">
        <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="user.login">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
      <div class="col-sm-6">
        <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Пароль" [(ngModel)]="user.password">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Согласие с <a href="#">правилами</a> использования
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-6">
        <button role="button" type="submit" class="btn btn-primary btn-block" (click)="register()">Зарегистрироваться</button>
      </div>
    </div>
  </form>
</div>