
h3, h4
{
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.welcome-cover
{
  background: linear-gradient(to top, var(--primary-color) 0.25%, var(--dark-logo-color));
  //background-color: black;
}

button
{
  margin-bottom: 2rem;
  max-width: 70%;
}
.enroll-button
{
  display: flex;
	align-items: center;
	justify-content: center;
}
