
h3, h4
{
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.welcome-cover
{
  background: linear-gradient(to top, var(--primary-color) 0.25%, var(--dark-logo-color));
  //background-color: black;
}

button
{
  margin: 2rem auto;
  max-width: 70%;
}
