.card{
  background-color: var(--section-color); 
  padding: 1rem 1rem 1rem 1rem;
}

.row{ 
    margin: 0rem 0rem 0rem 0rem;
}

.container
{
    margin-top: 3rem;
    background: white;
    margin-bottom: 3rem;
    padding-right: 0rem;  
}

.btn
{
  margin-top: 1rem;
}

#enrollMessage
{
   width: 100%;
   height: 5rem;
   text-align: left;
}
.modal-header
{
  border-style: none;
}
.modal-title
{
  margin: auto;
}
.modal-footer
{
  border-style: none;
}