<!--<div class="container">
   <div class = "row" >
		        <div class="col col-2 projsidebar">

		          <div class="list-group">
		            <a  href="#" class="list-group-item sidebaritem">Apps</a>
		            <a href="#" class="list-group-item sidebaritem">Games</a>
		            <a href="#" class="list-group-item sidebaritem">Movies</a>
		            <a href="#" class="list-group-item sidebaritem">Books</a>
		            <a href="#" class="list-group-item sidebaritem">Newspapers</a>
		          </div>

						<form>
								 <fieldset>
								<h3>Filters</h3>
								<form>
									<h5>Filter 1</h5>
                  <label><input type="radio" name="filter1" value="value1" checked> Pizza</label><br>
                  <label><input type="radio" name="filter1" value="value2"> Pizza</label><br>
									<label><input type="radio" name="filter1" value="value3"> Pizza</label>
                 </form>
								 <form>
								 <h5>Filter 2</h5>
								 <label><input type="radio" name="filter2" value="value1" checked> Pizza</label><br>
								 <label><input type="radio" name="filter2" value="value2"> Pizza</label><br>
								 <label><input type="radio" name="filter2" value="value3"> Pizza</label>
								</form>
								<input type="checkbox" name="check1" id="check1" value="Yes">
                <label for="check1">Check me out</label><br>

								<input type="checkbox" name="check2" id="check2" value="Yes">
                <label for="check2">Check me out</label><br>

								<input type="checkbox" name="check3" id="check3" value="Yes">
                <label for="check3">Check me out</label><br>

                <input type="submit" value="Apply"><br><br>
                <input type="reset"  value="Reset all">
							</fieldset>
						</form> 

		        </div>

	  <div class = "col" align = "right">
		  <div class = "row projheader">
		    <div class="col" >
		   	  <h2 class = "text-center">Welcome to Project1 task list!</h2>
	  	  </div>

	  	 <div class="col colsearch">
        <input type = "search" class = "input-medium " placeholder="Search..." />
		   </div>
      </div>
		<div align = "center">
		<br><h4 align = "left">My Tasks</h4><br>
      <app-project-task-list [ProjectTaskItemList]=getProjectStudentTaskItem()></app-project-task-list>
     <hr>
			<br><h4 align = "left">All Tasks</h4><br>
	      <app-project-task-list [ProjectTaskItemList]=getProjectAllTaskItem()></app-project-task-list>

	 <div class = "showbutton">
	   <a href="#" class="btn btn-secondary" >Show more...</a>
   </div>
    </div>
  </div>
</div>
</div>
-->
<!--<h1>Страница проекта студента!</h1>-->

<div class="container">
	<div class="row" id="main-info">
		<div class="col-lg-3 col-md-12" id="project-img-status">
			<img width="225px" height="225px" src="{{projectObs.value.logo}}" alt="Project image">
			<div [ngSwitch]="enrollButtonStatus">
				<div *ngSwitchCase="'Enrolling'">
					<button type="button" role="button" class="btn btn-large btn-block btn-primary"  data-toggle="modal" data-target="#enrollMessageModal">Подать заявку</button>
				</div>
				<div *ngSwitchCase="'Unenrolling'">
					<button type="button" role="button" class="btn btn-large btn-block btn-warning" (click)="unenroll()">Отменить заявку</button>
				</div>
				<div *ngSwitchCase="'InProject'">
					<h5 id="status">Вы участвуете в проекте</h5>
				</div>
				<div *ngSwitchDefault>
					<h5>Ой!</h5>
				</div>
			</div>
		</div>

		<div class="col-lg-9 col-md-offset-12">
			<h2 id="project-name">{{projectObs.value.name}}</h2>
			<p class="lead">{{projectObs.value.description}}</p>
			<i>Теги:</i> <a class="blacktag" href="#">lorem ipsum</a>
		</div>
	</div>
</div>

<!--Модальное окно-->
<div id="enrollMessageModal" class="modal fade" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Оставьте сообщение к заявке:</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<textarea class="form-control" id="enrollMessage" [(ngModel)]="message" name="enrollMessage" autofocus></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="enroll()" data-dismiss="modal">Отправить</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>