<h4>Текущие задачи</h4>
<hr>
<ul>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ratione ducimus quia, quo natus et dolor, dicta animi sint ipsa consequatur, culpa, ipsam est deserunt soluta. Eius dignissimos, accusantium aliquam.
  </li>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo tenetur officiis molestias amet quibusdam voluptas culpa fugit corrupti, maiores a nam tempora animi itaque beatae expedita nostrum ratione magni aperiam.
  </li>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio blanditiis unde ut obcaecati adipisci itaque minus voluptas ipsam aspernatur assumenda reprehenderit, corporis! Quis assumenda cum unde neque maiores eligendi, cumque.
  </li>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque minus, nulla autem ad et fugiat, nisi ducimus nesciunt rerum dolorum sed. Qui laudantium, mollitia ea consequuntur, adipisci perspiciatis error numquam.
  </li>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis veritatis ipsum iure, a commodi iusto, at tenetur aspernatur, corrupti reprehenderit fugit fuga, obcaecati earum! Nihil maiores totam iure, dolore quaerat?
  </li>
</ul>